.mint-ticket {
  p {
    transition: all 0.2s;
  }
  svg {
    transition: all 0.2s;
    color: #264737;
  }

  &--disabled:hover {
    cursor: not-allowed;
  }
  &--enabled {
    svg {
      fill-opacity: 0.3;
      color: #1adce2;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      p {
        color: #ffffff;
      }

      svg {
        fill-opacity: 0.8;
      }
    }
  }
}
