.mint-ticket {
  p {
    transition: all 0.2s;
    opacity: 0.3;
  }
  svg {
    transition: all 0.2s;
    color: #264737;
  }

  &--disabled {
    cursor: not-allowed;
  }
  &--enabled {
    cursor: pointer;

    svg {
      fill-opacity: 0.3;
      color: #1adce2;
    }

    &:hover,
    &:focus {
      p {
        opacity: 1;
        color: #ffffff;
      }

      svg {
        fill-opacity: 0.8;
      }
    }
  }
}
