@import '@/assets/styles/vars.scss';
@import '@/assets/styles/fonts.scss';

.ui-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  @include text-16-600;
  color: $color-white;
  transition: all 0.2s;

  &--icon {
    padding: 15px;
    border-radius: 5px;
  }

  &--primary:not(:disabled) {
    background: $color-dark-green;
    &:hover {
      box-shadow: 0px 4px 10px rgba($color-green, 0.5);
    }
  }

  &--secondary:not(:disabled) {
    border: 3px solid $color-dark-green;
    background: transparent;
    filter: drop-shadow(0px 9px 18px rgba($color-green, 0.27));

    &:hover {
      box-shadow: 0px 4px 10px rgba($color-green, 0.5);
      border-color: rgba($color-green, 0.5);
      background: $color-green;
    }
  }

  &:disabled {
    cursor: default;
    background: $color-grey;
    color: rgba($color-white, 0.5);
  }
}
