@import '~@/assets/styles/vars.scss';

.footer {
  background: linear-gradient(96.85deg, #1f3e2c -8.44%, #1a3435 102.66%);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(22.5px);
  padding-top: 45px;
  padding-bottom: 63px;

  &-top {
    max-width: 1220px;
    margin: auto;
    padding: 0 40px 44px;

    &__right {
      .mail-list {
        margin-right: 60px;
      }
    }
  }

  &-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px 0 0;

    &__container {
      max-width: 1220px;
      margin: auto;
      padding: 0 40px;
    }

    &__left {
      max-width: 360px;
    }
  }

  &-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 15px;
  }

  &-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #ffffff;
  }
}

.contact {
  &-heading {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
  }

  &-icons {
    margin-bottom: 8px;

    a {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-mail {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #ffffff;
  }
}

.mail-list {
  &__heading {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 5px;
  }

  &__subheading {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 10px;
  }
}

.sav-container {
  &__item {
  }

  p {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    min-height: 44px;
  }
}

@media screen and (max-width: $xl) {
  .footer-top,
  .footer-bottom {
    padding-right: 40px;
    padding-left: 40px;
  }

  .footer-bottom__container {
    padding: 0;
  }

  .sav-container {
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .footer-top {
    flex-wrap: wrap;

    &__left {
      width: 100%;
      margin-bottom: 42px;
    }

    &__right {
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .mail-list {
        order: 2;
        margin-right: 0;
      }

      .sav-container {
        order: 1;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .footer {
    padding-top: 40px;
    padding-bottom: 46px;
  }
  .footer-top,
  .footer-bottom {
    padding-right: 20px;
    padding-left: 20px;
  }
  .sav-container {
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .mail-list {
    &__heading {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
  .footer-bottom {
    &__left {
      display: flex;
      flex-direction: column;
      order: 2;
      width: 100%;
      max-width: initial;
    }

    &__right {
      justify-content: center;
      align-items: center;
      padding-top: 0;
      order: 1;
      width: 100%;
      margin-bottom: 45px;

      .contact-heading {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .footer {
    padding-top: 35px;
    padding-bottom: 37px;
  }
  .footer-top,
  .footer-bottom {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-top__right {
    flex-wrap: wrap;

    .sav-container {
      width: 100%;
      order: 2;

      p {
        font-size: 26px;
        line-height: 32px;
      }
    }

    .mail-list {
      width: 100%;
      order: 1;
      text-align: center;
      margin-bottom: 40px;

      &__heading {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $md) {
  .footer-top__left {
    padding-top: 30px;
    margin-bottom: 50px;

    img {
      width: 114px;
      height: 37px;
    }
  }
  .footer-top__right {
    .mail-list__heading {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .mail-list__subheading {
      margin-bottom: 17px;
    }

    .sav-container p {
      font-size: 16px;
      line-height: 20px;
      margin-left: 5px;
    }
  }
}
