@import '@/assets/styles/vars';

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgb(12, 41, 24);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  position: sticky;
  top: 0;
  z-index: 50;
}
