@import './normalize.css';
@import './vars.scss';

* {
}

html {
  font-family: $default-font-family;
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  background-color: $color-green-back;
}
